<div class="container pi-section-w pi-shadow-inside-top pi-section-grey">
  <div class="pi-texture" style="background: url(../assets/hexagon.png) repeat"></div>
  <div class="col-sm-4 col-sm-offset-4 pi-section moorgoo-form-container">
    <h2 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-text-center pi-margin-bottom-15">
      Sign up
    </h2>
    <div class="moorogo-alert"><%= flash[:alert] %></div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html=>{class: "form-horizontal"}) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group moorgoo-form-element">
        
        <p class="lead-14" style="color:#E74C3C;">In order to maintain the stable operation, we highly suggest our users to avoid registering with their school emails which end up with the edu. 我们建议不要用学校邮箱注册。</p>
        <%= f.label :email, :class=>'control-label' %><br />
        <%= f.email_field :email, autofocus: true, :class=>'form-control' %>
      </div>

      <div class="form-group moorgoo-form-element"><%= f.label :password, :class=>'control-label' %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
        <%= f.password_field :password, autocomplete: "off", :class=>'form-control' %></div>

      <div class="form-group moorgoo-form-element"><%= f.label :password_confirmation, :class=>'control-label' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class=>'form-control' %></div>

      <div class="form-group moorgoo-form-element"><%= f.submit "Sign up", :class=>"btn btn-default moorgoo-form-button" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
