
<% provide(:background_img, 'index-background') %>

<div class='container'>
  <div class="center-row">
    <div class="container-fluid">
      <div align="center">
        <% unless flash[:notice].nil? %>
          <div class="alert alert-info" role="alert">
            <%= flash[:notice]%>
          </div>
        <% end %>
        <div class="form-group shadowed-form-pane">
          <h2 class="header_above_form">Welcome to MoorGoo</h2>  
          <div class="input_error_container">
            <div class="input_error_notice"></div>
          </div>
          <%= form_for(resource, as: resource_name, :url => registration_path(resource_name), :html => { :class => 'form-horizontal', :id => 'signupForm'}) do |u| %>
            <%= u.text_field :name, autofocus: true, type: 'text', class: 'form-control form_input_field', placeholder: 'Username', id: 'signup_username' %>
            <%= u.text_field :email, class: 'form-control form_input_field', placeholder: 'Your campus email', id: 'signup_email' %>
            <%= u.text_field :password, class: 'form-control form_input_field', placeholder: 'Password', id: 'signup_password' %>
            <%= u.text_field :password_confirmation, class: 'form-control form_input_field',  placeholder: 'Confirm password', id: 'signup_confirm_password' %>
            <%= u.submit 'Sign up', class: "btn btn-default form_input_button", id:'signup_confirmButton' %>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

