
<% provide(:background_img, 'index-background') %>

<div class='container'>
  <div class="center-row">
    <div class="container-fluid">
      <div align="center">
        <% unless flash[:notice].nil? %>
          <div class="alert alert-info" role="alert">
            <%= flash[:notice]%>
          </div>
        <% end %>
        <div class="form-group shadowed-form-pane">
          <h2 class="header_above_form">Forgot password?</h2>  
          <div class="input_error_container">
            <div class="input_error_notice"></div>
          </div>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { :class => 'form-horizontal', :id => 'forgotForm', method: :post }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.email_field :email, autofocus: true, class: 'form-control form_input_field', placeholder: 'Your campus email' %>
            <%= f.submit "Send me reset instructions", class: "btn btn-warning form_input_button"  %>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

