<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid container-fluid-navbar">
    
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navContent">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "MOORGOO", root_path, :class=>'navbar-brand left-link'%>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="navContent">
      <ul class="nav navbar-nav">
        <li class="right-link"><a href="/schools/ucsd">Books</a></li>
        <li class="right-link"><a href="/video">Moorgoo Tutor</a></li>
        <li class="dropdown right-dropdown right-link" >
        <% if user_signed_in? %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name%></a>
          <ul class="dropdown-menu right-dropdown-ul" role="menu">
            <li class="right-dropdown-ul-li"><span><a class="right-dropdown-a" href=<%= school_bookprices_path(@school.name, :status=>0) %> >My Books</a></span></li>
            <li class="right-dropdown-ul-li"><span><a class="right-dropdown-a" href=<%= edit_user_registration_path %> >Change Password</a></span></li>
            <li class="divider"></li>
            <li class="right-dropdown-ul-li">
              <span>
              <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => 'right-dropdown-a' %>
              </span>
            </li>
          </ul>
        <% else %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account</a>
          <ul class="dropdown-menu right-dropdown-ul" role="menu">
            <li class="right-dropdown-ul-li">
              <span>
                <%= link_to 'My Books', new_user_session_path(:redirect=>'/schools/ucsd/bookprices?status=0'), :class=>'right-dropdown-a' %>
              </span></li>
            <li class="right-dropdown-ul-li">
              <span>
                <%= link_to 'Change Password', new_user_session_path(:redirect=>'/users/edit'), :class=>'right-dropdown-a' %>
              </span>
            </li>
            <li class="right-dropdown-ul-li"><span><a class="right-dropdown-a" href=<%= new_user_session_path %> >Login</a></span></li>
          </ul>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>


