<nav class="navbar navbar-default navbar-fixed-top shadowed_header" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navContent">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Stuffs", root_path, :class=>'navbar-brand'%>
    </div>

    <div class="collapse navbar-collapse" id="navContent">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'I want to sell', new_bookprice_path, :class=>"with_bottom_bar" %>
        </li>
        <li>
          <% if user_signed_in? %>
            <%= current_user.id %>
            <%= link_to "Sign out", destroy_user_session_path, :method=>:delete, :class=>"with_bottom_bar" %>
          <% else %>
            <%= link_to 'My Account', new_user_session_path, :class=>"with_bottom_bar" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>


