<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,700italic,700,600italic,600,400italic,300italic,300|Roboto:100,300,400,500,700|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400&amp;subset=latin,latin-ext" type="text/css">

<link rel="stylesheet" id="stylesheet-css" href="http://www.braincorporation.com/wp-content/themes/satellite/css/stylesheet.min.css?ver=3.9.1" type="text/css" media="all">

<div class="parallax_content center-row">
  <div style="margin-top:20px;margin-bottom:40px;" class="separator transparent"></div>
  <div class="element_from_left element_from_left_on">
    <div>
      <p style="text-align: center;">
        <span class="custom_font_holder" style="font-family: Raleway; font-size: 56px; line-height: 56px; font-weight: 100; color: #666666; padding: 0px; margin: 0px;"> About Us</span>
      </p>
    </div>
  </div>
  <div style="margin-top:10px;margin-bottom:10px;" class="separator transparent"></div>
  <div class="element_from_right element_from_right_on">
    <div>
      <p style="text-align: center; color: #666666; width: 70%; margin: auto;">Our experienced team is continuously innovating on our adaptive intelligence platform, building our relationships with various professional partners, assuring successes in the immediate future and beyond.</p>
    </div>
  </div>



  <div class="row">
    <div class="bigcontain">


      <div class="col-xs-12 col-sm-6 col-lg-3 combb">
        <%= image_tag("taozijian.png", :alt => "Logo", :class => "photo") %>
        <h5 style="color: #ed8000;">Jacob Tao</h5>
        <p style="color: #666666;"><b>Watashiwa yamede gozaimasi</b></p>
        <p style="color: #666666; margin: 5px 0 5px 0;">Jacob Tao is the greatest man ever in the Middle Earth</p>
        <a href="http://www.braincorporation.com" target="_self" class="button tiny" style="">Read more</a>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3 combb">
        <%= image_tag("mushroom.png", :alt => "Logo", :class => "photo") %>
        <h5 style="color: #ed8000;">Nan Chen</h5>
        <p style="color: #666666;"><b>Watashiwa yamede gozaimasi</b></p>
        <p style="color: #666666; margin: 5px 0 5px 0;">Nan Chen is the greatest man ever in the Middle Earth</p>
        <a href="http://www.braincorporation.com" target="_self" class="button tiny" style="">Read more</a>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3 combb">
        <%= image_tag("lisi.png", :alt => "Logo", :class => "photo") %>
        <h5 style="color: #ed8000;">Si Li</h5>
        <p style="color: #666666;"><b>Watashiwa yamede gozaimasi</b></p>
        <p style="color: #666666; margin: 5px 0 5px 0;">SI LI is the greatest man ever in the Middle Earth</p>
        <a href="http://www.braincorporation.com" target="_self" class="button tiny" style="">Read more</a>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3 combb">
        <%= image_tag("hemingxuan.jpg", :alt => "Logo", :class => "photo") %>
        <h5 style="color: #ed8000;">Alex He</h5>
        <p style="color: #666666;"><b>Watashiwa yamede gozaimasi</b></p>
        <p style="color: #666666; margin: 5px 0 5px 0;">Alex He is the greatest man ever in the Middle Earth</p>
        <a href="http://www.braincorporation.com" target="_self" class="button tiny" style="">Read more</a>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3 combb">
        <%= image_tag("mushroom.png", :alt => "Logo", :class => "photo") %>
        <h5 style="color: #ed8000;">Zidong Jiang</h5>
        <p style="color: #666666;"><b>Watashiwa yamede gozaimasi</b></p>
        <p style="color: #666666; margin: 5px 0 5px 0;">Zidong Jiang is the greatest man ever in the Middle Earth</p>
        <a href="http://www.braincorporation.com" target="_self" class="button tiny" style="">Read more</a>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3 combb">
        <%= image_tag("hetian.png", :alt => "Logo", :class => "photo") %>
        <h5 style="color: #ed8000;">Tian He</h5>
        <p style="color: #666666;"><b>Watashiwa yamede gozaimasi</b></p>
        <p style="color: #666666; margin: 5px 0 5px 0;">Tian He is the greatest man ever in the Middle Earth</p>
        <a href="http://www.braincorporation.com" target="_self" class="button tiny" style="">Read more</a>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3 combb">
        <%= image_tag("libertyliu.png", :alt => "Logo", :class => "photo") %>
        <h5 style="color: #ed8000;">Siyu Liu</h5>
        <p style="color: #666666;"><b>Watashiwa yamede gozaimasi</b></p>
        <p style="color: #666666; margin: 5px 0 5px 0;">Siyu Liu is the greatest man ever in the Middle Earth</p>
        <a href="http://www.braincorporation.com" target="_self" class="button tiny" style="">Read more</a>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-3 combb">
        <%= image_tag("mushroom.png", :alt => "Logo", :class => "photo") %>
        <h5 style="color: #ed8000;">Welcome</h5>
        <p style="color: #666666;"><b>Watashiwa yamede gozaimasi</b></p>
        <p style="color: #666666; margin: 5px 0 5px 0;">is the greatest man ever in the Middle Earth</p>
        <a href="http://www.braincorporation.com" target="_self" class="button tiny" style="">Read more</a>
      </div>


    </div>
  </div>
</div>