<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800,700italic,700,600italic,600,400italic,300italic,300|Roboto:100,300,400,500,700|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400|Raleway:200,300,400&amp;subset=latin,latin-ext" type="text/css">

<link rel="stylesheet" id="stylesheet-css" href="http://www.braincorporation.com/wp-content/themes/satellite/css/stylesheet.min.css?ver=3.9.1" type="text/css" media="all">

<div class="parallax_content center-row">
  <div style="margin-top:20px;margin-bottom:40px;" class="separator transparent"></div>
  <div class="element_from_left element_from_left_on">
    <div>
      <p style="text-align: center;">
        <span class="custom_font_holder" style="font-family: Raleway; font-size: 56px; line-height: 56px; font-weight: 100; color: #666666; padding: 0px; margin: 0px;"> About Us</span>
      </p>
    </div>
  </div>
  <div style="margin-top:10px;margin-bottom:10px;" class="separator transparent"></div>
  <div class="element_from_right element_from_right_on">
    <div>
      <p style="text-align: center; color: #666666; width: 70%; margin: auto;">Our experienced team is continuously innovating on our adaptive intelligence platform, building our relationships with various professional partners, assuring successes in the immediate future and beyond.</p>
    </div>
  </div>



  <div class="row">
    <div class="bigcontain">

      <div class="col-xs-12 col-sm-5 col-lg-3">
        <div class="combb">
          <%= image_tag("taozijian.png", :alt => "Logo", :class => "photo") %>
          <h5 style="color: #ed8000;">Zijian Tao</h5>
          <p style="color: #666666;"><b>Technology</b></p>
          <p style="color: #666666; margin: 5px 0 5px 0;">既然在无聊和痛苦间摇摆, 那就摆地更猛烈些.</p>
          <p>.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-lg-3">
        <div class="combb">
          <%= image_tag("chennan.png", :alt => "Logo", :class => "photo") %>
          <h5 style="color: #ed8000;">Nan Chen</h5>
          <p style="color: #666666;"><b>Technology</b></p>
          <p style="color: #666666; margin: 5px 0 5px 0;">Be passionate to learn, honest to express my thought, faithful to 걸스데이, and grateful to live.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-lg-3">
        <div class="combb">
          <%= image_tag("lisi.png", :alt => "Logo", :class => "photo") %>
          <h5 style="color: #ed8000;">Si Li</h5>
          <p style="color: #666666;"><b>Technology/ Management</b></p>
          <p style="color: #666666; margin: 5px 0 5px 0;">Life is short, let's do some cool things.</p>
          <p>.</p>
          <p>.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-lg-3">
        <div class="combb">
          <%= image_tag("hemingxuan.png", :alt => "Logo", :class => "photo") %>
          <h5 style="color: #ed8000;">Mingxuan He</h5>
          <p style="color: #666666;"><b>Marketing/ Accounting</b></p>
          <p style="color: #666666; margin: 5px 0 5px 0;">非淡泊无以铭志，非宁静无以致远。</p>
          <p>.</p>
          <p>.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-lg-3">
        <div class="combb">
          <%= image_tag("jiangzidong.png", :alt => "Logo", :class => "photo") %>
          <h5 style="color: #ed8000;">Zidong Jiang</h5>
          <p style="color: #666666;"><b>Marketing</b></p>
          <p style="color: #666666; margin: 5px 0 5px 0;">心定气闲，志存高远.</p>
          <p>.</p>
          <p>.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-lg-3">
        <div class="combb">
          <%= image_tag("hetian.png", :alt => "Logo", :class => "photo") %>
          <h5 style="color: #ed8000;">Tian He</h5>
          <p style="color: #666666;"><b>Marketing</b></p>
          <p style="color: #666666; margin: 5px 0 5px 0;">天行健, 君子以自强不息. 地势坤, 君子以厚德载物.</p>
          <p>.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-lg-3">
        <div class="combb">
          <%= image_tag("libertyliu.png", :alt => "Logo", :class => "photo") %>
          <h5 style="color: #ed8000;">Siyu Liu</h5>
          <p style="color: #666666;"><b>Marketing</b></p>
          <p style="color: #666666; margin: 5px 0 5px 0;">与其羡慕别人, 不如做好自己. 人生, 越努力, 越幸运！</p>
          <p>.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-5 col-lg-3">
        <div class="combb">
        <%= image_tag("wantyou.png", :alt => "Logo", :class => "photo") %>
        <h5 style="color: #ed8000;">YOU</h5>
        <p style="color: #666666;"><b>Dream Position</b></p>
        <p style="color: #666666; margin: 5px 0 5px 0;">We hope talent and innovative candidate to join us!</p>
        <p>.</p>
      </div>

    </div>
  </div>
</div>