<div class='container'>
  <div class="center-row">
    <div class="container-fluid">
      <div class="tabBox" align="center">
        <div class="progress book-progress animated bounceInDown">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
            50%
          </div>
        </div>
        <h2 class="animated bounceInDown" style="margin: 50px auto;"> 1/2: What book is it? </h2>

        <% unless flash[:alert].nil? %>
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <%= flash[:alert] %>
          </div>
        <% end %>

        <div class="content animated bounceInUp">
          <%= form_for [@school.name, @book], :url=>school_books_path(@school.name, @book), :class=>'form-horizontal', :id=> 'sellForm' do |f| %>
            <% if flash[:alert].nil? %>
              <%= f.text_field :isbn, :class=> 'form-control form_input_field', :placeholder=> 'ISBN', :id => 'sellForm_isbn' %>
              <%= hidden_field_tag :save_mode, :auto %>
            <% else %>
              <%= f.text_field :isbn, :class=> 'form-control form_input_field', :placeholder=> 'ISBN', :id => 'sellForm_isbn' %>
              <%= f.text_field :title, :class=> 'form-control form_input_field', :placeholder=> 'Title', :id => 'sellForm_title' %>
              <%= f.text_area :author, :class=> 'form-control form_input_field', :placeholder=> 'Author', :id => 'sellForm_title' %>
              <%= hidden_field_tag :save_mode, :manual %>
            <% end %>
              <%= f.text_field :course, :class=>'form-control form_input_field', :placeholder=>'Course, e.g. MATH 20C', :id=>'sellForm_title'%>
              <%= f.submit 'Next', :class=> "btn btn-warning form_input_button", :id=>'signup_confirmButton' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
