<h3><%= bookprice.price %></h3>
<h3><%= bookprice.condition%></h3>

<%= form_for [@school,bookprice], :method=>:put do |f| %>
  <%= hidden_field_tag('bookprice[id]', bookprice.id)%>
  <%= hidden_field_tag('bookprice[status]', bookprice.inverseStatus) %>
  <%= f.submit inverseStatusQuote(bookprice.status) %>
<% end %>
