<div class='container'>
  <div class="center-row">
    <div class="container-fluid">
      <div class="tabBox" align="center">
        <% if user_signed_in? %>
          <div class="progress book-progress animated bounceInDown">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
              100%
            </div>
          </div>
        <% else %>
          <div class="progress book-progress animated bounceInDown">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
              99%
            </div>
          </div>
        <% end %>
        <h2 class="animated bounceInDown" style="margin: 50px auto;"> 2/2: What's your offer? </h2>

        <div class="content animated bounceInUp">
          <div class="input_error_container">
            <div class="input_error_notice"></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= render '/books/item', :b=>@book, :prices=>nil %>
            </div>
            <div class="col-md-6">
              <%= form_for [@school.name, @bookprice], :url=>school_bookprices_path(@school.name, @bookprice), :html=>{:class=> 'form-horizontal', :style=>'margin: 30px auto;', id: 'sellForm'} do |bp| %>
                <%= bp.text_field :price, :class=> 'form-control form_input_field', :placeholder=> 'Price', :id => 'sellForm_price' %>
                <%= bp.text_field :condition, :class=> 'form-control form_input_field', :placeholder=> 'Condition', :id => 'sellForm_condition' %>
                <%= bp.text_area :contact, :class=> 'form-control form_input_field', :placeholder=> 'Contact', :id => 'sellForm_contact' %>
                <%= bp.hidden_field :book_id, :value=>@book_id%>
                <% if user_signed_in? %>
                  <%= bp.submit 'Sell!', :class=> "btn btn-warning form_input_button", :id=>'signup_confirmButton' %>
                <% else %>
                  <%= bp.submit 'Sell!', :class=> "btn btn-warning form_input_button", :id=>'signup_confirmButton' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
