<div class='container'>
  <div class="center-row">
    <div class="container-fluid">
<!--       <div class="col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-2">
        <div class="row header_above_form">
          <div class="col-xs-0 col-sm-2 col-md-3 col-lg-2">
          </div>
          <div class="col-xs-12 col-sm-8 col-md-7 col-lg-6 tabBox" align="center">
            <h2>Sell My Book</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-0 col-sm-2 col-md-3 col-lg-2 left_big_icon">
            <img src="/assets/default.gif"/>
          </div>
 -->          <div class="tabBox" align="center">
      <% if user_signed_in? %>
            <div class="progress book-progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                100%
              </div>
            </div>
          <% else %>
            <div class="progress book-progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
                99%
              </div>
            </div>
          <% end %>

            <div class="content">
              <div class="input_error_container">
                <div class="input_error_notice"></div>
              </div>
              <%= form_for (@bookprice), :class=> 'form-horizontal', id: 'sellForm' do |bp| %>
                <%= bp.text_field :price, :class=> 'form-control form_input_field', :placeholder=> 'Price', :id => 'sellForm_price' %>
                <%= bp.text_field :condition, :class=> 'form-control form_input_field', :placeholder=> 'Condition', :id => 'sellForm_condition' %>
                <%= bp.text_area :contact, :class=> 'form-control form_input_field', :placeholder=> 'Contact', :id => 'sellForm_contact' %>
                <%= bp.hidden_field :book_id, :value=>@book_id%>
                <% if user_signed_in? %>
                  <%= bp.submit 'Sell!', :class=> "btn btn-warning form_input_button", :id=>'signup_confirmButton' %>
                <% else %>
                  <%= bp.submit 'Sell!', :class=> "btn btn-warning form_input_button", :id=>'signup_confirmButton' %>
                <% end %>
              <% end %>
            </div>
          </div>
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
