<!DOCTYPE html>
<html>
<head>
  <title>Moorgoo</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/header' %>
  <%= yield %>
  <%= render 'shared/footer' %>
  <%= render 'shared/ga'%>
</body>
</html>
<%= javascript_include_tag "application", "data-turbolinks-track" => false %>
